/*format*/
html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  padding: 20px;
  background-color: rgb(234, 230, 223);
}

/*header and title*/
.title {
  padding: 20px;
  font-size: 10rem;
  text-align: center;
  background: #85837b;
}
.header {
  padding: 20px;
  font-size: 10rem;
  text-align: center;
  background: white;
}

h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 8rem;
}

h2 {
  font-size: 10rem;
  text-align: center;
  line-height: 8rem;
}

h3 {
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}

h5 {
  font-size: 1rem;
  text-align: center;
  line-height: 3rem;
}

h6 {
  font-size: 5rem;
  text-align: center;
  line-height: 7rem;
}

p {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}

/*image*/

.img {
  border-radius: 1rem;
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  margin-left: 20rem;
  margin-right: auto;
}

.post {
  background-color: white;
  padding: 10rem;
  margin-top: 10rem;
  width: 100rem;
  height: 90rem;
  margin-left: auto;
  margin-right: auto;
}
