/*format*/
html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  padding: 2rem;
  background-color: rgb(234, 230, 223);
}

/*header and title*/
.blog {
  padding: 2rem;
  background: white;
  margin-bottom: 4rem;
}

.blog__website {
  font-size: 4rem;
  line-height: 8rem;
}

.post__title {
  font-size: 10rem;
  line-height: 8rem;
}

.blog__topic {
  font-size: 5rem;
  line-height: 7rem;
  color: #555;
}

.post__foodname {
  font-size: 3rem;
  line-height: 3rem;
}

.post__published {
  font-size: 1rem;
  line-height: 3rem;
}

.post__content {
  font-size: 2rem;
  line-height: 2rem;
}

.post__link {
  font-size: 2rem;
  line-height: 8rem;
  display: inline-block;
  margin-top: 1rem;
  color: rgb(175,159,140);
  text-decoration: none;
}

.post__link:hover{
  color: rgb(114, 103, 88);
  text-decoration: underline;
}

/*image*/

.img {
  border-radius: 1rem;
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.post {
  background-color: white;
  padding: 10rem;
  margin-top: 10rem;
  max-width: 800px;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 4px rgb(150, 150, 150);
}